body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
  background: #43affc;
}


.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0,0,0,.05);
}

.App-header {
    display: flex;
    font-size: 1.31em;
    font-weight: 500;
    color: #43affc;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}


.Weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.weather-background__image {
  width: 100%;
  height: auto;
}

.current-weather {
  width: 100%;
  color: #fff;
}

.current-weather__temp {
  padding: 40px 0;
}

.current-weather__info {
  background: #fff;
  color: #000;
}

